ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form li {
  display: flex;
  flex-direction: column;
}

